.joke-button {
  display: block;
  font-size: 60px;
  font-weight: bolder;
  margin: 60px auto;
  background-color: rgb(225, 15, 15);
  border: 4px solid black;
  border-radius: 40px;
  padding: 30px;
  color: white;
  transition: all 100ms ease-in-out;
}
.joke-button:hover {
  background-color: white;
  color: black;
}

.joke {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
}
